a {
    text-decoration: none;
    font-size: 18px;
}

h1 {
    text-align: center;
}

.celc,
.fehn {
    width: 350px;
    height: 35px;
    text-align: center;
    margin: 15px;
    font-size: 20px;
    margin-right: 0px !important;
}

.main {
    text-align: center;
}

span {
    font-size: 30px;
    margin: 0px 10px 0px 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.mainBtn {
    text-align: center;
    margin-top: 30px;
}

.btn {
    width: 90px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}